dist
node_modules
.env
.ssh

# Local .terraform directories
**/.terraform/

# Terraform plan and state files
*.tfstate
*.tfstate.backup

# Crash logs
crash.log

# CLI configuration files
.terraformrc
terraform.rc

# Terraform plan output
*.tfplan

# Sensitive variable overrides
terraform.tfvars
*.tfvars

# Override files
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# IDE/editor-specific files (optional but recommended)
.vscode/
.idea/
*.swp
*.swo
.DS_Store

# OS-specific files
Thumbs.db
