# MONGODB_URI=mongodb://mongodb:27017/todos
# AWS_ACCESS_KEY_ID=test
# AWS_SECRET_ACCESS_KEY=test
# S3_BUCKET_NAME=mysamplebucket
# AWS_REGION=us-east-1

# MONGODB_URI=mongodb://mongodb:27017/todos
# AKIATHP4M52IU5SN4F47
# L9zDWrBKUbYR2cWKraanfTQmj3b1dhIxTcWjwj13
# S3_BUCKET_NAME=mysamplebucket
# AWS_REGION=us-east-1
